<!-- templates/tentangkami.html -->

{% extends 'base.html' %} {% block title %} Tentang Kami {% endblock %} {% block
content %}
<!-- Section Tentang Kami -->
{% include 'sections/tentangkami-section.html' %}

<!-- Section Misi Kami -->
{% include 'sections/misiKami-section.html' %}

<!-- Section Solusi Kami -->
{% include 'sections/solusi-kami-section.html' %}

<!-- Section Dampak Kami -->
{% include 'sections/dampak-kami-section.html' %}

<!-- Section Ajakan untuk Pengelolaan Sampah -->
{% include 'sections/ajakan-section.html' %} {% endblock %}
