<div class="p-4 sm:ml-64 font-roboto">
  <div class="mt-20">
    <!-- Kontainer Form Pencarian dan Tombol Tambah -->
    <div class="flex justify-between items-center mb-4">
      <!-- Form Pencarian -->
      <form class="max-w-md">
        <label
          for="search-article"
          class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
        >
          Search
        </label>
        <div class="relative">
          <input
            type="search"
            id="search-article"
            class="block w-full p-4 pr-10 text-sm text-gray-900 border-1 border-black rounded-sm bg-slate-300 focus:ring-black focus:border-black shadow-neo dark:bg-gray-800 dark:border-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:ring-white dark:focus:border-white"
            placeholder="Cari Judul atau Penulis..."
          />
        </div>
      </form>

      <!-- Tombol Tambah Artikel -->
      <button
        id="openAddArticleModal"
        class="px-6 py-3 bg-[#387478] text-gray-100 font-bold rounded shadow-[3px_3px_0px_rgba(0,0,0,1)] hover:bg-green-500 dark:shadow-xl"
      >
        Tambah Artikel
      </button>
    </div>

    <!-- Tabel Data Artikel -->
    <div
      class="overflow-x-auto mt-8 rounded-sm border-4 border-black shadow-[8px_8px_0px_rgba(0,0,0,1)] font-inconsolata"
    >
      <table
        class="table-auto w-full text-sm bg-white text-gray-700 border-collapse dark:bg-gray-800 dark:text-gray-200"
      >
        <thead
          class="bg-gradient-to-r from-yellow-400 to-orange-500 text-black border-b-4 border-black dark:text-white"
        >
          <tr>
            <th
              class="px-6 py-3 text-center font-extrabold text-lg uppercase border-r-2 border-black"
            >
              Judul Artikel
            </th>
            <th
              class="px-6 py-3 text-center font-extrabold text-lg uppercase border-r-2 border-black"
            >
              Penulis
            </th>
            <th
              class="px-6 py-3 text-center font-extrabold text-lg uppercase border-r-2 border-black"
            >
              Tanggal Publikasi
            </th>

            <th class="px-6 py-3 text-center font-extrabold text-lg uppercase">
              Aksi
            </th>
          </tr>
        </thead>
        <tbody class="divide-y-4 divide-black dark:divide-gray-600"></tbody>
      </table>
    </div>
  </div>
</div>

{% include 'admin/components/ModalAddArtikel.html' %} {% include
'admin/components/ModalEditArtikel.html' %}

<script src="{{ url_for('static', filename='js/admin/ArticlePost.js') }}"></script>
