<div class="p-4 sm:ml-64">
  <div class="mt-14">
    <!-- Greeting Card -->
    <div
      id="greeting-card"
      class="relative bg-gradient-to-r from-purple-500 to-blue-500 p-8 rounded-lg shadow-lg overflow-hidden text-white mb-5"
    >
      <!-- Konten -->
      <div class="flex items-center justify-between">
        <!-- Teks Ucapan -->
        <div class="space-y-2">
          <h2 id="greeting" class="text-3xl font-bold"></h2>
          <p class="text-lg">
            Semoga hari Anda menyenangkan. Jangan lupa untuk selalu semangat!
          </p>
        </div>
      </div>

      <!-- Elemen Dekoratif -->
      <div class="absolute bottom-0 right-0 opacity-20">
        <svg
          class="w-64 h-64"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 200 200"
          fill="currentColor"
        >
          <circle cx="100" cy="100" r="100" fill="white" />
        </svg>
      </div>
    </div>

    <!-- Grid Row 2 -->
    <div class="grid grid-cols-3 gap-4 mb-4">
      <!-- Kolom 1 -->
      <div
        class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800"
      >
        <p class="text-2xl text-gray-400 dark:text-gray-500">Kolom 1</p>
      </div>
      <!-- Kolom 2 -->
      <div
        class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800"
      >
        <p class="text-2xl text-gray-400 dark:text-gray-500">Kolom 2</p>
      </div>
      <!-- Kolom 3 -->
      <div
        class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800"
      >
        <p class="text-2xl text-gray-400 dark:text-gray-500">Kolom 3</p>
      </div>
    </div>

    <!-- Grid Row 3 -->
    <div class="grid grid-cols-2 gap-4 mb-4">
      <!-- Kolom 1 -->
      <div
        class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800"
      >
        <p class="text-2xl text-gray-400 dark:text-gray-500">Kolom 1</p>
      </div>
      <!-- Kolom 2 -->
      <div
        class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800"
      >
        <p class="text-2xl text-gray-400 dark:text-gray-500">Kolom 2</p>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/components/greeting-card.js') }}"></script>
