<div class="p-4 sm:ml-64 mt-5">
  <div class="mt-14">
    <div
      id="greeting-card"
      class="relative bg-white border-4 border-black shadow-[8px_8px_0px_rgba(0,0,0,1)] p-8 rounded-lg overflow-hidden text-black mb-5"
    >
      <div class="flex items-center justify-between">
        <div class="space-y-2">
          <h2 id="greeting" class="text-3xl font-bold">Selamat Datang !</h2>
          <p class="text-lg">
            Semoga hari Anda menyenangkan. Jangan lupa untuk selalu semangat!
          </p>
        </div>
      </div>
      <div class="absolute bottom-0 right-0 opacity-100">
        <svg
          class="w-64 h-64"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 200 200"
          fill="currentColor"
        >
          <circle cx="100" cy="100" r="100" fill="#006A67" />
        </svg>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-4 gap-6">
    <!-- Card 1 -->
    <div
      class="bg-white border-4 border-black p-6 rounded-lg shadow-[8px_8px_0px_rgba(0,0,0,1)] hover:shadow-[4px_4px_0px_rgba(0,0,0,1)] hover:scale-105 hover:translate-y-[-4px] transition-transform duration-300 ease-in-out"
    >
      <h2 class="text-xl font-bold text-gray-800">Total Spend</h2>
      <p class="text-3xl font-bold text-black mt-4">$8,765</p>
      <p class="text-gray-500 mt-1">Previous: $10,234</p>
      <p class="text-red-500 mt-2 font-semibold">Progress: -14.32%</p>
    </div>

    <!-- Card 2 -->
    <div
      class="bg-white border-4 border-black p-6 rounded-lg shadow-[8px_8px_0px_rgba(0,0,0,1)] hover:shadow-[4px_4px_0px_rgba(0,0,0,1)] hover:scale-105 hover:translate-y-[-4px] transition-transform duration-300 ease-in-out"
    >
      <h2 class="text-xl font-bold text-gray-800">Visitor</h2>
      <p class="text-3xl font-bold text-black mt-4">14,321</p>
      <p class="text-gray-500 mt-1">Previous: 12,543</p>
      <p class="text-green-500 mt-2 font-semibold">Progress: +14.23%</p>
    </div>

    <!-- Card 3 -->
    <div
      class="bg-white border-4 border-black p-6 rounded-lg shadow-[8px_8px_0px_rgba(0,0,0,1)] hover:shadow-[4px_4px_0px_rgba(0,0,0,1)] hover:scale-105 hover:translate-y-[-4px] transition-transform duration-300 ease-in-out"
    >
      <h2 class="text-xl font-bold text-gray-800">Acquisition</h2>
      <p class="text-3xl font-bold text-black mt-4">1,023</p>
      <p class="text-gray-500 mt-1">Previous: 876</p>
      <p class="text-green-500 mt-2 font-semibold">Progress: +16.73%</p>
    </div>

    <!-- Card 4 -->
    <div
      class="bg-white border-4 border-black p-6 rounded-lg shadow-[8px_8px_0px_rgba(0,0,0,1)] hover:shadow-[4px_4px_0px_rgba(0,0,0,1)] hover:scale-105 hover:translate-y-[-4px] transition-transform duration-300 ease-in-out"
    >
      <h2 class="text-xl font-bold text-gray-800">Revenue</h2>
      <p class="text-3xl font-bold text-black mt-4">$18,765</p>
      <p class="text-gray-500 mt-1">Previous: $15,432</p>
      <p class="text-green-500 mt-2 font-semibold">Progress: +21.67%</p>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-6 mt-5">
    <!-- Card 1 -->
    <div
      class="bg-white border-4 border-black p-6 rounded-lg shadow-[8px_8px_0px_rgba(0,0,0,1)] hover:shadow-[4px_4px_0px_rgba(0,0,0,1)] hover:scale-105 hover:translate-y-[-4px] transition-transform duration-300 ease-in-out"
    >
      <h2 class="text-xl font-bold text-gray-800">Total Spend</h2>
      <p class="text-3xl font-bold text-black mt-4">$8,765</p>
      <p class="text-gray-500 mt-1">Previous: $10,234</p>
      <p class="text-red-500 mt-2 font-semibold">Progress: -14.32%</p>
    </div>

    <!-- Card 2 -->
    <div
      class="bg-white border-4 border-black p-6 rounded-lg shadow-[8px_8px_0px_rgba(0,0,0,1)] hover:shadow-[4px_4px_0px_rgba(0,0,0,1)] hover:scale-105 hover:translate-y-[-4px] transition-transform duration-300 ease-in-out"
    >
      <h2 class="text-xl font-bold text-gray-800">Visitor</h2>
      <p class="text-3xl font-bold text-black mt-4">14,321</p>
      <p class="text-gray-500 mt-1">Previous: 12,543</p>
      <p class="text-green-500 mt-2 font-semibold">Progress: +14.23%</p>
    </div>
  </div>

  {% include 'admin/admin-components/calendar-dashboard-content.html' %}

  <!-- Library Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
  <script src="{{ url_for('static', filename='js/components/pie-chart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/reviews_admin.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="{{ url_for('static', filename='js/components/greeting-card.js') }}"></script>
</div>
