<div class="p-4 sm:ml-64 font-roboto">
  <div class="mt-20">
    <div class="grid grid-cols-4 gap-6">
      <div
        class="bg-white border-4 border-black p-6 rounded-lg shadow-[8px_8px_0px_rgba(0,0,0,1)] hover:shadow-[4px_4px_0px_rgba(0,0,0,1)] hover:scale-105 hover:translate-y-[-4px] transition-transform duration-300 ease-in-out mb-4"
      >
        <h2 class="text-xl font-bold text-gray-800">
          Total User Terverifikasi
        </h2>
        <p class="text-3xl font-bold text-black mt-4">
          {{ jumlah_user_terverifikasi }}
        </p>
        <p class="text-gray-500 mt-1">Previous: 12,543</p>
        <p class="text-green-500 mt-2 font-semibold">Progress: +14.23%</p>
      </div>

      <div
        class="bg-white border-4 border-black p-6 rounded-lg shadow-[8px_8px_0px_rgba(0,0,0,1)] hover:shadow-[4px_4px_0px_rgba(0,0,0,1)] hover:scale-105 hover:translate-y-[-4px] transition-transform duration-300 ease-in-out mb-4"
      >
        <h2 class="text-xl font-bold text-gray-800">
          Total User Belum Terverifikasi
        </h2>
        <p class="text-3xl font-bold text-black mt-4">
          {{ jumlah_user_belum_terverifikasi }}
        </p>
        <p class="text-gray-500 mt-1">Previous: 12,543</p>
        <p class="text-green-500 mt-2 font-semibold">Progress: +14.23%</p>
      </div>
    </div>

    <!-- Form Pencarian -->
    <form class="max-w-md mb-4">
      <label
        for="default-search"
        class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
        >Search</label
      >
      <div class="relative">
        <input
          type="search"
          id="search-input"
          class="block w-full p-4 pr-10 text-sm text-gray-900 border-1 border-black rounded-lg bg-slate-300 focus:ring-black focus:border-black shadow-neo dark:bg-gray-800 dark:border-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:ring-white dark:focus:border-white"
          placeholder="Cari Nama atau Email..."
        />
      </div>
    </form>

    <!-- Tabel Data -->
    <div
      class="overflow-x-auto mt-8 rounded-lg border-4 border-black shadow-[8px_8px_0px_rgba(0,0,0,1)] font-inconsolata"
    >
      <table
        id="user-table"
        class="table-auto w-full text-sm bg-white text-gray-700 border-collapse dark:bg-gray-800 dark:text-gray-200"
      >
        <thead
          class="bg-gradient-to-r from-yellow-400 to-orange-500 text-black border-b-4 border-black dark:text-white"
        >
          <tr>
            <th
              class="px-6 py-3 text-center font-extrabold text-lg uppercase border-r-2 border-black"
            >
              ID
            </th>
            <th
              class="px-6 py-3 text-center font-extrabold text-lg uppercase border-r-2 border-black"
            >
              Nama User
            </th>
            <th
              class="px-6 py-3 text-center font-extrabold text-lg uppercase border-r-2 border-black"
            >
              Email
            </th>
            <th
              class="px-6 py-3 text-center font-extrabold text-lg uppercase border-r-2 border-black"
            >
              Role
            </th>
            <th
              class="px-6 py-3 text-center font-extrabold text-lg uppercase border-r-2 border-black"
            >
              Verifikasi
            </th>
            <th
              class="px-6 py-3 text-center font-extrabold text-lg uppercase border-r-2 border-black"
            >
              Nomor HP
            </th>
            <th
              class="px-6 py-3 text-center font-extrabold text-lg uppercase border-r-2 border-black"
            >
              TGL Lahir
            </th>
            <th
              class="px-6 py-3 text-center font-extrabold text-lg uppercase border-r-2 border-black"
            >
              JK
            </th>
            <th
              class="px-6 py-3 text-center font-extrabold text-lg uppercase border-r-2 border-black"
            >
              Points
            </th>

            <th class="px-6 py-3 text-center font-extrabold text-lg uppercase">
              Aksi
            </th>
          </tr>
        </thead>

        <tbody
          id="user-table-body"
          class="divide-y-4 divide-black dark:divide-gray-600"
        >
          <!-- Data akan diisi secara dinamis dengan JavaScript -->
        </tbody>
      </table>
      <div id="pagination" class="flex justify-start px-5 py-4"></div>
    </div>

    {% include 'admin/components/ModalDeleteConfirmationManageUser.html' %} {%
    include 'admin/components/ModalEditUser.html' %}

    <script src="{{ url_for('static', filename='js/ManageUsers.js') }}"></script>
  </div>
</div>
