<div class="p-4 sm:ml-64 mt-5">
  <div class="mt-14">
    <!-- Grid Row -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <!-- Container Pie Chart -->
      <div class="md:col-span-1">
        {% if session['user']['role'] == 'superadmin' %}
        <div
          class="flex flex-col items-center justify-center w-full bg-pink-100 border-4 border-black shadow-[4px_4px_0px_rgba(0,0,0,1)] hover:shadow-[2px_2px_0px_rgba(0,0,0,1)] transition h-96"
        >
          <div
            class="w-full flex items-center justify-center text-black font-bold text-xl mb-2"
          >
            Analisis Sentimen Pengguna
          </div>
          <div class="w-full h-80 flex items-center justify-center p-1">
            <canvas id="pie-chart" class="w-full h-full"></canvas>
          </div>
        </div>
        {% endif %}
      </div>

      <!-- Container Reviews -->
      <div
        class="flex items-center justify-center md:col-span-2 rounded bg-yellow-100 border-4 border-black shadow-[4px_4px_0px_rgba(0,0,0,1)] hover:shadow-[2px_2px_0px_rgba(0,0,0,1)] transition h-96 overflow-y-auto p-4"
      >
        <!-- Tambahkan pembatas tinggi -->

        <div class="w-full max-w-5xl h-80">
          <ul id="reviews-list" class="space-y-4">
            <!-- Review items akan ditambahkan di sini melalui JavaScript -->
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Library Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
  <script src="{{ url_for('static', filename='js/components/PieCharts.js') }}"></script>
  <script src="{{ url_for('static', filename='js/ReviewsAdmin.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</div>
