<section class="bg-white text-gray-800 py-12 font-inconsolata">
  <div class="container mx-auto px-4">
    <h1 class="text-3xl font-bold mb-8">Hadir Menciptakan Dampak</h1>
    <!-- Mengatur grid 2 kolom pada medium dan large screen -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
      <!-- Card Lingkungan -->
      <div
        class="relative overflow-hidden rounded-lg border-4 border-black shadow-[4px_4px_0px_rgba(0,0,0,1)] hover:shadow-[2px_2px_0px_rgba(0,0,0,1)] transition-transform transform hover:scale-105"
      >
        <div
          class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-40"
        >
          <h2 class="text-white text-xl font-bold">Lingkungan</h2>
        </div>
        <div
          class="absolute inset-0 bg-green-500 bg-opacity-90 flex items-center justify-center opacity-0 hover:opacity-100 transition duration-300"
        >
          <div class="text-white p-6">
            <h2 class="text-lg font-bold mb-2">Lingkungan</h2>
            <p class="text-sm">
              Krisis sampah global bukan hanya mencemari ekosistem, tetapi juga
              menyumbang karbon dan mempercepat pemanasan global. Terlibatlah
              untuk mendaur ulang lebih banyak, ciptakan ekonomi sirkular mulai
              dari rumahmu.
            </p>
          </div>
        </div>
        <img
          src="/static/images/lingkungan.jpg"
          alt="Lingkungan"
          class="w-full h-48 object-cover"
        />
      </div>

      <!-- Card Ekonomi -->
      <div
        class="relative overflow-hidden rounded-lg border-4 border-black shadow-[4px_4px_0px_rgba(0,0,0,1)] hover:shadow-[2px_2px_0px_rgba(0,0,0,1)] transition-transform transform hover:scale-105"
      >
        <div
          class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-40"
        >
          <h2 class="text-white text-xl font-bold">Ekonomi</h2>
        </div>
        <div
          class="absolute inset-0 bg-blue-500 bg-opacity-90 flex items-center justify-center opacity-0 hover:opacity-100 transition duration-300"
        >
          <div class="text-white p-6">
            <h2 class="text-lg font-bold mb-2">Ekonomi</h2>
            <p class="text-sm">
              Polusi sampah plastik menimbulkan kerugian ekonomi yang tidak
              sedikit, dan bersekala global. RecycleHub mengubah sampahmu
              menjadi mata uang. Membawa ekonomi sirkular sekaligus inklusi
              ekonomi bagi semua orang.
            </p>
          </div>
        </div>
        <img
          src="/static/images/ekonomi.jpg"
          alt="Ekonomi"
          class="w-full h-48 object-cover"
        />
      </div>

      <!-- Card Sosial -->
      <div
        class="relative overflow-hidden rounded-lg border-4 border-black shadow-[4px_4px_0px_rgba(0,0,0,1)] hover:shadow-[2px_2px_0px_rgba(0,0,0,1)] transition-transform transform hover:scale-105"
      >
        <div
          class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-40"
        >
          <h2 class="text-white text-xl font-bold">Sosial</h2>
        </div>
        <div
          class="absolute inset-0 bg-gray-700 bg-opacity-90 flex items-center justify-center opacity-0 hover:opacity-100 transition duration-300"
        >
          <div class="text-white p-6">
            <h2 class="text-lg font-bold mb-2">Sosial</h2>
            <p class="text-sm">
              Teknologi kami mendukung pekerjaan pengepul dan pemulung agar
              lebih efisien dan efektif. Meningkatkan kesejahteraan mereka,
              meningkatkan martabat mereka di masyarakat, dan menghapus batasan
              kelas antara miskin dan kaya.
            </p>
          </div>
        </div>
        <img
          src="/static/images/sosial.png"
          alt="Sosial"
          class="w-full h-48 object-cover"
        />
      </div>

      <!-- Card Kesehatan -->
      <div
        class="relative overflow-hidden rounded-lg border-4 border-black shadow-[4px_4px_0px_rgba(0,0,0,1)] hover:shadow-[2px_2px_0px_rgba(0,0,0,1)] transition-transform transform hover:scale-105"
      >
        <div
          class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-40"
        >
          <h2 class="text-white text-xl font-bold">Kesehatan</h2>
        </div>
        <div
          class="absolute inset-0 bg-red-500 bg-opacity-90 flex items-center justify-center opacity-0 hover:opacity-100 transition duration-300"
        >
          <div class="text-white p-6">
            <h2 class="text-lg font-bold mb-2">Kesehatan</h2>
            <p class="text-sm">
              Polusi sampah tidak hanya berdampak pada hewan laut dan estetika.
              Tetapi juga mencemari rantai makanan, termasuk di dalamnya
              manusia. Ikan, garam dan air yang kita minum mungkin saja
              mengandung mikro plastik. Daur ulang dengan RecycleHub.
            </p>
          </div>
        </div>
        <img
          src="/static/images/kesehatan.png"
          alt="Kesehatan"
          class="w-full h-48 object-cover"
        />
      </div>
    </div>
  </div>
</section>
