<section class="bg-white flex items-center justify-center">
  <div
    class="bg-green-100 rounded-lg p-8 flex flex-col md:flex-row items-center mb-10"
  >
    <div class="max-w-lg mb-8 md:mb-0">
      <h1 class="text-3xl font-bold text-gray-900 mb-4">
        RecycleHub di desain untuk menangkap sampah plastik dari sumbernya,
        dengan ukuran paling kecil sekalipun
      </h1>
      <p class="text-gray-700">
        Kami menggunakan jejaring pengepul dan pemulung lokal sebagai
        infrastruktur daur ulang digital yang setara dengan infrastruktur fisik
        di Negara-negara maju. Kami percaya, dengan membawa sektor informal ini
        ke ekosistem digital, dapat mempercepat tujuan kita bersama untuk bebas
        polusi sampah pada tahun 2030.
      </p>
    </div>
    <div class="md:ml-8">
      <img
        alt="A person in a green uniform holding a large bag of waste over their shoulder"
        class="rounded-lg"
        src="/static/images/recycle-about.png"
      />
    </div>
  </div>
</section>
