<section
  class="bg-[#F9F9F9] text-black border-4 border-black shadow-[8px_8px_0px_rgba(0,0,0,1)] font-inconsolata py-8"
>
  <div class="container mx-auto px-4">
    <h1
      class="text-3xl sm:text-4xl font-bold mb-6 px-4 py-2 border-4 border-black bg-[#FFD700] shadow-[4px_4px_0px_rgba(0,0,0,1)] inline-block"
    >
      Solusi Kami
    </h1>
    <div class="flex items-center mb-6">
      <h2
        class="text-xl font-medium bg-[#A6FAFF] px-4 py-2 border-4 border-black shadow-[4px_4px_0px_rgba(0,0,0,1)]"
      >
        Untuk Semua Orang
      </h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Card 1 -->
      <div
        class="border-4 border-black p-4 rounded-lg shadow-[4px_4px_0px_rgba(0,0,0,1)] bg-white transition-transform transform hover:scale-105"
      >
        <div class="flex items-center mb-2">
          <i
            class="fas fa-recycle text-green-500 text-3xl mr-4 border-2 border-black p-2 rounded-full"
          ></i>
          <h3
            class="text-lg font-semibold text-black bg-[#D1E8E4] px-2 py-1 rounded-md border-2 border-black shadow-[2px_2px_0px_rgba(0,0,0,1)] p-4"
          >
            Pick Up (Coming Soon)
          </h3>
        </div>
        <p class="text-black font-medium">
          Foto sampah daur ulang, upload ke RecycleHub App, Bank Sampah terdekat
          akan datang menjemput, menimbang, dan membayar sampahmu.
        </p>
      </div>
      <!-- Card 2 -->
      <div
        class="border-4 border-black p-4 rounded-lg shadow-[4px_4px_0px_rgba(0,0,0,1)] bg-white transition-transform transform hover:scale-105"
      >
        <div class="flex items-center mb-2">
          <i
            class="fas fa-truck-loading text-blue-500 text-3xl mr-4 border-2 border-black p-2 rounded-full"
          ></i>
          <h3
            class="text-lg font-semibold text-black bg-[#D1E8E4] px-2 py-1 rounded-md border-2 border-black shadow-[2px_2px_0px_rgba(0,0,0,1)] p-4"
          >
            Drop Off
          </h3>
        </div>
        <p class="text-black font-medium">
          Antar langsung sampahmu ke <i>Bank Sampah</i> terdekat, dengan minimum
          1kg akumulasi berat sampah plastik.
        </p>
      </div>
      <!-- Card 3 -->
      <div
        class="border-4 border-black p-4 rounded-lg shadow-[4px_4px_0px_rgba(0,0,0,1)] bg-white transition-transform transform hover:scale-105"
      >
        <div class="flex items-center mb-2">
          <i
            class="fas fa-coins text-yellow-500 text-3xl mr-4 border-2 border-black p-2 rounded-full"
          ></i>
          <h3
            class="text-lg font-semibold text-black bg-[#D1E8E4] px-2 py-1 rounded-md border-2 border-black shadow-[2px_2px_0px_rgba(0,0,0,1)] p-4"
          >
            RH Point
          </h3>
        </div>
        <p class="text-black font-medium">
          Konversi sampahmu menjadi mata uang digital yang dapat kamu
          belanjakan, atau tukarkan dengan beragam produk menarik.
        </p>
      </div>
      <!-- Card 4 -->
      <div
        class="border-4 border-black p-4 rounded-lg shadow-[4px_4px_0px_rgba(0,0,0,1)] bg-white transition-transform transform hover:scale-105"
      >
        <div class="flex items-center mb-2">
          <i
            class="fas fa-file-invoice-dollar text-orange-500 text-3xl mr-4 border-2 border-black p-2 rounded-full"
          ></i>
          <h3
            class="text-lg font-semibold text-black bg-[#D1E8E4] px-2 py-1 rounded-md border-2 border-black shadow-[2px_2px_0px_rgba(0,0,0,1)] p-4"
          >
            RH Bills (Coming Soon)
          </h3>
        </div>
        <p class="text-black font-medium">
          Kamu dapat menukarkan sampahmu dengan beragam produk digital seperti
          Token Listrik, Pulsa, PDAM, BPJS, dan banyak lagi.
        </p>
      </div>
    </div>
  </div>
</section>
